main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}





.news-item {
    border: 1px solid #ddd; /* Color gris claro para el borde */
    border-radius: 5px; /* Bordes redondeados para un borde más suave */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado entre noticias */
    background-color: #fff; /* Fondo blanco */
}

.news-item h3 {
    margin-top: 0; /* Eliminar margen superior en el título */
}

.news-item p {
    margin-bottom: 0; /* Eliminar margen inferior en los párrafos */
}

.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.card-header {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.card-body {
    padding: 15px;
}

.card-body p {
    margin-bottom: 10px;
}

.card img {
    border-radius: 8px;
    margin-bottom: 15px;
}

ul.list-unstyled {
    padding-left: 0;
    list-style-type: none;
}

.shadow-sm {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

